page-profil {
  .profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .colorbutton{
    background-color:#007069;
  }

  .title{
    color:#3B5999;
  }
  .txt{
    color: darkslategray;
  }
}
