page-recherchemedecin {
  .custom-icon {

    color : limegreen;
  }

  .locate-icon{
    color: red;
  }

  .adresse-icon{
    color: #004c00;
  }
  .spec-icon{
    color:cadetblue;
  }
  .cnam-icon{
    color:#ba9d37;
  }
  .nomcolor{
    color: darkcyan;
  }
}
